* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Winky Sans', Courier, monospace;
    background-color: #eff7f6;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    margin: 0 auto;
    grid-gap: 1rem;
}

.loading {
    display: none;
    height: 100vh;
    text-align: center;

}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
    
    note-list {
        margin-top: 1rem;
    }
}